# hidden/temp files
.DS_Store
*.swp
*~.nib
*.bk
temp.plist
 
# Build dir
build/
 
# Xcode project files except for the project file
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
 
# Windows image thumbnail file
Thumbs.db
 
# User-specific project settings
*.mode1v3
*.mode2v3
